<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--调试用，是否记录日志-->
    <add key="IsSaveLog" value="yes"/>
    <!--调试用，日志记录路径-->
    <add key="SysLogSavePath" value="D:\Clientlog"/>
    
    <add key="MaxReceivedMessageSize" value="1073741824"/>

    <!--商品图片地址-->
    <add key="ImageServer" value="http://10.10.30.26:8085"/>
    
    <!--网站地址-->
    <add key="Domain" value="http://10.10.30.112" />

    <!--发送信息邮箱-->
    <add key="SenderEmail" value="15611219275@163.com"/>
    <!--STMP服务器地址-->
    <add key="Smtp" value="smtp.163.com"/>
    <!--SMTP服务帐号-->
    <add key="Account" value="15611219275"/>
    <!--SMTP服务密码-->
    <add key="PassWord" value="5212571778"/>
    <!--加急规则（计算加急费用）-->
    <add key="ExpeditedRule" value="0.05"/>
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=10.10.30.26;Initial Catalog=UshareDB_Test;User Id=Ushare;Password=Ushare@123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
