* {
    box-sizing: border-box;
    margin: 0;
    -webkit-text-size-adjust: none;
}
.clear{
    zoom:1;
}
.clear:after{
    display:block;
    content:"";
    clear:both;
    visibility:hidden;
    height:0;
}
.img_wrap{
    width:100%;
    background:url("../img/txt_bg.png") repeat-y 0 0;
}
.img_wrap img{
    width:90.67%;
    margin:0 auto;
    display: block;
    padding:.6rem 0;
}