* {
    box-sizing: border-box;
    margin: 0;
    -webkit-text-size-adjust: none;
}
/*@font-face{*/
    /*font-family:'PingFang';*/
    /*src:url("../fonts/lihei.ttf");*/
/*}*/
/*body{font-family:'PingFang';}*/
.clear{
    zoom:1;
}
.clear:after{
    display:block;
    content:"";
    clear:both;
    visibility:hidden;
    height:0;
}
.header,.more_photos,.the_end,.sale_person {
    position: relative;
    width: 100%;
    height: 100%;
    z-index:1;
}

.bg_img img{
    width: 100%;
    display: block;
}
.head_con,.more_photos_con,.sale_person_con,.sale_comment_con{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:10;
    text-align: center;
}
.head_con{
    left:0;
    top: 1.1rem;
}
.sale_comment_con{
    left:0;
    top:0;
}
.more_photos_con{
    left:0;
    top:2.4rem;
}
.sale_person_con{
    left:0;
    top:.7rem;
}
.head_con .title,.head_con .time{
    text-align: left;
    width:92%;
    margin:0 auto;
}
.head_con .title{
    font-size:1.2rem;
    line-height:1.39;
    color:#1d1d1d;
}
.head_con .time{
    font-size:0.85rem;
    line-height:1.2;
    color: #999;
    margin-top:0.35rem;
}
.more_photos_con h3{
    font-size:0.75rem;
    line-height: 1.2rem;
    color: #945a5a;
    margin-left: 10.4%;
    width:57%;
    font-style: normal;
}
.more_photos_con p.code{
    font-size:0.7rem;
    line-height: 1rem;
    margin-top: 0.7rem;
    color:#999999;
    margin-left: 35.5%;
    text-align: left;
}
.more_photos_con p.price{
    font-size:0.85rem;
    line-height: 1rem;
    color: #fc415c;
    margin-left: 35.5%;
    text-align: left;
}
.sale_con_pic{
    width:68%;
    margin:0 auto;
}
.sale_con_pic_fl{
    float: left;
}
.sale_con_pic_fr{
    float: right;
}
.sale_con_pic_fl .headpic{
    width: 3.75rem;
    height:3.75rem;
    display:block;
}
.sale_con_pic_fr .weixin{
    width: 3.75rem;
    height:3.75rem;
    display:block;
}
.sale_con_pic p{
    color: #333;
    font-size: .76rem;
    padding:.36rem 0 .2rem 0;
}
.sale_con_count{
    margin-top: 2.9rem;
}
.sale_con_count span{
    width:33.3%;
    float: left;
    display: block;
    font-size:.65rem;
    height:1.2rem;
    padding-left: 1.5rem;
    color: #977a75;
}

.sale_comment{
    /*margin-bottom:13rem;*/
    position: relative;
}
.sale_comment_con a{
    position: absolute;
    right:.8rem;
    top:.5rem;
    padding-right: 1rem;
    font-size:.9rem;
    color: #6aa2e8;
    text-decoration: none;
    cursor: pointer;
    background: url("../img/comment_edit.png") no-repeat right center;
}