* {
    box-sizing: border-box;
    margin: 0;
    -webkit-text-size-adjust: none;
}
.clear{
    zoom:1;
}
.clear:after{
    display:block;
    content:"";
    clear:both;
    visibility:hidden;
    height:0;
}
.title_txt {
    position: relative;
    width: 100%;
    height: 100%;
    z-index:1;
}
.bg_img img{
    width: 100%;
    display: block;
}
.title_txt_con{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:10;
    text-align: center;
    left:0;
    top: 1rem;
}
.title_txt_con h3{
    color: #333333;
    font-size:.95rem;
    line-height:1.2rem;
}
.title_txt_con p{
    color:#b7aca9;
    font-size:.75rem;
    line-height:1.2rem;
    margin-top: .5rem;
}