* {
    box-sizing: border-box;
    margin: 0;
    -webkit-text-size-adjust: none;
}
body{
    font-family:"Microsoft Yahei" ;
}
.clear{
    zoom:1;
}
.clear:after{
    display:block;
    content:"";
    clear:both;
    visibility:hidden;
    height:0;
}
.img_wrap{
    width:90.67%;
    margin:0 auto;
}
.img_wrap img{
    width:100%;
    display: block;
    padding:.6rem 0 .3rem 0;
}
.img_wrap p{
    font-size:.7rem;
    line-height: 1.05rem;
    text-align: center;
    color:#373b3e;
}