* {
    box-sizing: border-box;
    margin: 0;
    -webkit-text-size-adjust: none;
}
body{
    font-family:"Microsoft Yahei" ;
}
.clear{
    zoom:1;
}
.clear:after{
    display:block;
    content:"";
    clear:both;
    visibility:hidden;
    height:0;
}
.header{
    width:90.67%;
    margin:0 auto;
    padding: .4rem 0;
}
.header h3{
    font-size:.85rem;
    line-height: 1.2rem;
    color: #010101;
    text-align: center;
    padding-bottom:.6rem;
    border-bottom:1px solid #c8c8c8;
}
.header p{
    padding-top:.6rem;
}
.header p time{
    color:#373b3e;
    font-size:.6rem;
    line-height:.9rem;
    float: left;
}
.header p i{
    float: right;
    font-style: normal;
    color: #368ccd;
    font-size:.6rem;
    line-height:.9rem;
}

.end_bird,.comment {
    position: relative;
    width: 100%;
    height: 100%;
    z-index:1;
}

.bg_img img{
    width: 100%;
    display: block;
}
.comment_con{
    /*width: 90.67%;*/
    width:92%;
    margin:0 auto;
    border:1px solid #dedede;
    border-right:none;
    z-index:10;
    text-align: center;
}
.comment_con p{
    width:33.3%;
    display: block;
    float: left;
    border-right:2px solid #e5e5e5;
    padding:.575rem 0;
}
.comment_con span{
    font-size:1.07rem;
    color: #292929;
    line-height: 1.05rem;
}
.comment_con p:last-child{
    border-right-style:1px;
}
.comment_con p:first-child span{
    padding-left: 1.4rem;
    background: url("../img/comment_icon1.png") left center no-repeat;
}
.comment_con p:nth-child(2) span{
    padding-left: 1.3rem;
    background: url("../img/comment_icon2.png") left center no-repeat;
}
.comment_con p:last-child span{
    padding-left: 1.5rem;
    display: inline-block;
    height:1.2rem;
    background: url("../img/comment_icon3.png") left 40% no-repeat;
}
.comment_img{
    position: relative;
    width: 100%;
    height: 100%;
    z-index:1;
}
.bg_img img{
    width: 100%;
    display: block;
}