BODY {COLOR: #666}
UL, P{PADDING: 0px; MARGIN: 0px;}
A {COLOR: #333}
A:hover {COLOR: #e51a45; TEXT-DECORATION: none}

#imgPlay {
	/*MARGIN: 8px auto;*/ OVERFLOW: hidden; WIDTH: 958px; ZOOM: 1; POSITION: relative; HEIGHT: 457px;border-top-left-radius:5px;border-top-right-radius:5px;
}
#imgPlay .imgs IMG {
	WIDTH: 958px; height:413px;
}
#imgPlay .imgs LI {
	FLOAT: left; POSITION: relative
}
#imgPlay .imgs {
	WIDTH: 5760px
}
#imgPlay .btn {
	RIGHT: 12px; OVERFLOW: hidden; WIDTH: 112px; BOTTOM: 12px; TEXT-INDENT: -9999px; POSITION: absolute; HEIGHT: 29px;
}
#imgPlay .btn A {
	BACKGROUND: url(../images/bg.png) no-repeat;BACKGROUND-POSITION: 0px 0px; DISPLAY: block; WIDTH: 112px; HEIGHT: 29px;
}
#imgPlay .btn A:hover {
	BACKGROUND: url(../images/bg.png) no-repeat;BACKGROUND-POSITION: 0px -30px;
}
#imgPlay .prev {
	BACKGROUND: url(../images/imgPlayer.png) no-repeat 0px 0px; LEFT: 1px; WIDTH: 46px; CURSOR: pointer; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 110px; HEIGHT: 81px
}
#imgPlay .next {
	background:url(../Images/banner_navR.jpg) no-repeat; width:135px; height:38px; position:absolute; bottom:6px; right:0; z-index:1000;
}

#imgPlay .num {
	DISPLAY: inline; POSITION: absolute; bottom:15px; left:0; width:100%; z-index:100; cursor:pointer;
}
#imgPlay .num SPAN {
	DISPLAY: inline-block; BACKGROUND: url(../images/imgPlayer.png) no-repeat -19px -83px; MARGIN: 0px 2px; OVERFLOW: hidden; WIDTH: 14px; CURSOR: pointer; LINE-HEIGHT: 0; HEIGHT: 13px
}
#imgPlay .num SPAN.on {
	BACKGROUND-POSITION: 1px -83px
}
#imgPlay .num .lc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .mc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .rc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .mc {
	BACKGROUND: url(../images/mc.png) repeat-x
}
#imgPlay .num .rc {
	BACKGROUND: url(../images/rc.png) no-repeat
}
#imgPlay #numInner {
	/*PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; POSITION: absolute; bottom:0px; TEXT-ALIGN: center*/
	
}

.navNum{ background:url(../Images/banner_navBg.jpg) repeat-x; height:38px; width:100%; position:absolute; bottom:6px; left:0;}
.navNumL{ position:absolute; left:0; background:url(../Images/banner_navL.jpg) no-repeat; width:61px; height:38px; display:block; float:left;}
.navNumR{ position:absolute; right:0; background:url(../Images/banner_navR.jpg) no-repeat; width:135px; height:38px; display:block;}