
#slider {
	Z-INDEX: 1; POSITION: absolute;  WIDTH: 911px; HEIGHT: 281px; OVERFLOW: hidden; left:42px; 
}
#slider .slide {
	Z-INDEX: 10; POSITION: absolute; BORDER-LEFT: #000 1px solid; WIDTH: 500px; BACKGROUND: #000; HEIGHT: 281px; OVERFLOW: hidden; TOP: 0px; CURSOR: default; LEFT: 22px;text-align:left;
}
#slider .title {
	COLOR: #f80; FONT-SIZE: 1.2em; FONT-WEIGHT: bold; MARGIN-RIGHT: 1.5em; TEXT-DECORATION: none
}
#slider .text {
	POSITION: absolute; TEXT-ALIGN: justify; WIDTH: 470px; DISPLAY: none; FONT-FAMILY: verdana, arial, Helvetica, sans-serif; COLOR: #fff; FONT-SIZE: 0.9em; TOP: 100%; LEFT: 10px
}
#slider .diapo {
	POSITION: absolute; FILTER: alpha(opacity=100); VISIBILITY: visible; opacity: 1
}
#apDiv1 {
	Z-INDEX: 1; POSITION: absolute; BACKGROUND-COLOR: #000000; WIDTH: 820px; HEIGHT: 30px; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
#apDiv2 {
	Z-INDEX: 3; POSITION: absolute; WIDTH: 860px; HEIGHT: 35px; OVERFLOW: hidden; TOP: 216px; LEFT: -429px
}
.pagenext {
	POSITION: relative; WIDTH: 820px; HEIGHT: 37px
}
A.pn:link {
	Z-INDEX: 4; POSITION: absolute; WIDTH: 47px; FONT: 12px "ו"; COLOR: #666; TOP: 15px; RIGHT: 33px; TEXT-DECORATION: none
}
A.pn:visited {
	Z-INDEX: 4; POSITION: absolute; WIDTH: 47px; FONT: 12px "ו"; COLOR: #666; TOP: 15px; RIGHT: 33px; TEXT-DECORATION: none
}
A.pn:hover {
	COLOR: #fff
}
A.pn:active {
	COLOR: #fff
}