*{
  margin:0;
  padding:0;
}
header{
  position: relative;
  height:3rem;
  line-height:3rem;
  background-color:#1c1c1c;
  text-align:center;
}
header>a,header>span{
  color: #ffffff;
  font-size:.75rem;
}
.back{
  float: left;
  margin-left:7%;
}
.product h3{
  background-color:#22c064;
  height:1.05rem;
  line-height:1.05rem;
  color: #FFFFFF;
  font-size:.6rem;
  padding-left:5%;
}
.product ul li{
   padding-left:5%;
   height:2.65rem;
   line-height:2.65rem;
   border-bottom:1px solid #c2c2c2;
}
.product ul li.active{
  background-color:#f3f3f3;
}
.product a{
  display:block;
  color: #3e3a39;
  font-size:.75rem;
  background:url("../images/list-arrow.png") no-repeat 95% center;
  background-size:16px 26px;
}
.product-wrapper{
  padding-bottom:2.5rem;
}
