*{
  margin:0;
  padding:0;
}
header{
  position: relative;
  height:3rem;
  line-height:3rem;
  background-color:#1c1c1c;
  text-align:center;
}
header>a,header>span{
  color: #ffffff;
  font-size:.75rem;
}
.back{
  float: left;
  margin-left:7%;
}
.confirm{
  float: right;
  margin-right:7%;
}
.form-group{
  border-bottom:1px solid #c2c2c2;
  /*height: 2.25rem;*/
  overflow:hidden;
}
.form-group .control-label{
  width:25%;
  float: left;
  height: 2.25rem;
  line-height: 2.25rem;
  padding-left:3%;
  color: #7c7c7c;
  font-size:.65rem;
}
.form-group input.form-control,.form-group button.form-control{
  height: 2.25rem;
  border:none;
  color: #3e3a39;
  outline:none;
  font-size:.7rem;
}
.form-group button.form-control{
  text-align:left;
  background:transparent url("../images/icon-product.png") no-repeat 95% center;
  background-size:37px 41px;
}
.form-group .form-control{
  width:72%;
  float: left;
  position: relative;
}
.form-group textarea.form-control{
  margin:.85rem auto .85rem 0;
  width:63%;
  float:left;
  height:3rem;
  border: 1px solid #c1c1c1;
  background-color:#f0f0f0;
  line-height:1rem;
  text-align:left;
  padding:.5rem;
  font-size:.7rem;
}
.input-person{
  background:url("../images/icon-person.png") no-repeat 95% center;
  background-size:39px 39px;
}
.input-date{
  background:url("../images/icon-date.png") no-repeat 95% center;
  background-size:36px 32px;
}
.form-control input[type="file"]{
  opacity:0;
}
.form-file button{
  /*position:absolute;*/
  /*left:0;*/
  /*top:0;*/
  text-align:left;
  width:100%;
  font-size:.8rem;
  color: #3e3a39;
  background:url("../images/icon-file.png") no-repeat 95% center;
  background-size:37px 37px;
  border:none;
  outline:none;
  margin-top:.2rem;
}
.form-file p{
  margin-top:.2rem;
  margin-bottom:.2rem;
  color: #5d5d5d;
  font-size:.7rem;
  background:url("../images/icon-word.png") no-repeat 0 center;
  background-size:34px 36px;
  padding-left: 40px;
}
.form-control .input-map{
  width:75%;
  border:1px solid #cccccc;
  height:1.3rem;
  margin:.4rem 0;
  padding-left:5%;
  font-size:.8rem;
}
.form-map{
  background:url("../images/icon-map.png") no-repeat 95% center;
  background-size:35px 35px;
}
.form-control select{
  width:80%;
  height:1.1rem;
  margin:.5rem 0;
  border: solid 1px #22c064;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  padding-right: 14px;
  background: url("../images/select-arrow.png") no-repeat 101% center transparent;
  background-size:auto 100%;
  font-size:.75rem;
  padding-left:.5rem;
}
.form-control .show-img,.form-control .upload-img{
  float:left;
  margin-right:.3rem;
}
.show-img{
  margin-top:.2rem;
  width:1.8rem;
  height:1.8rem;
  border:1px solid #c3c3c3;
}
.upload-img{
  width:1.8rem;
  height:1.8rem;
  border:1px solid #c3c3c3;
  background:url("../images/upload-img.png") no-repeat 0 0;
  background-size:1.8rem 1.8rem;
  margin-top:.2rem;
}
.input-video{
  background:url("../images/icon-upload-video.png") no-repeat 95% center;
  background-size:23px 44px;
}
.choose{
  color: #5d5d5d;
  font-size:.65rem;
  margin:.5rem 0;
  height:1.175rem;
  line-height:1.175rem;
  padding-left:13%;
  background:url("../images/icon-choose.png") no-repeat 0 center;
  background-size:47px 47px;
}
.choose.active{
  background:url("../images/icon-choose-active.png") no-repeat 0 center;
  background-size:47px 47px;
}
.btn-submit{
  height:2.25rem;
  line-height:2.25rem;
  text-align:center;
  background-color:#22c064;
  color:#FFFFFF;
  width:100%;
  border:none;
  font-size:.8rem;
}
